<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813595214809-10gijr72h0rssnp01l3n27uto1636ls7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813595214809-10gijr72h0rssnp01l3n27uto1636ls7</string>
	<key>API_KEY</key>
	<string>AIzaSyAaVD-yIKejqllmCASp1Nq8eb3-yHOEne8</string>
	<key>GCM_SENDER_ID</key>
	<string>813595214809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Kuuked</string>
	<key>PROJECT_ID</key>
	<string>babytracker-c9194</string>
	<key>STORAGE_BUCKET</key>
	<string>babytracker-c9194.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813595214809:ios:4dbe1bf627647729d58fc8</string>
</dict>
</plist>